.toptool {
  width: 90%;
  height: 7rem;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #dbdbdb;
  box-shadow: 0.4rem 0.25rem 0.1rem #dbdbdb;
  margin: auto;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  .inputtext {
    width: 70%;
    .item {
      width: 300px;
      display: inline-block;
    }
  }
}
