.content {
  background-image: linear-gradient(135deg, #fdd819 10%, #e80505 100%);
  .out {
    width: 95%;
    height: 93%;
    margin: 1.2rem auto;
    background-color: white;
    box-shadow: rgba($color: #ec8181, $alpha: 0.5) 10px 10px;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }
}
